$black: #000;
$white: #fff;
$yellow-main: #f1c544;
$yellow-dark: #ebb304;
$dark-gray: #1b2a2e;
$gray-light: #3b444b;
$gray-white: #f2f1f1;
$gray-lighter: #888b8b;
$gray-white-border: #eee;
$red: #e90101;
$light-blue: #eff6fb;
$green: #2db231;
$dark-blue: #004d81;
$dogGray : #c1c0bf;
$dogGold : #ffc37b;
$dogBrown : #4f2d0e;
$tagBlue: #5563df;
$tagRed: #d92443;
$tagGreen: #01a179;
$darkBackground: #1b1b2f;
$darkSurface: #1f4068;
$darkLight: #162447;
$lightGray: #afb4b3;
$messageBlue: #bee0f8;
$lightBlueEdge: #25a0d9;
$blogGray: #f3f3f3;

$small-font-size: 1.2rem;
$default-font-size: 1.6rem;
$large-font-size: 2.4rem;
